[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
gutenberg = "*"
spacy = "*"
simplewebsocketserver = "*"
"ee2e623" = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz"}

[requires]
python_version = "3.6"
